<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">DateApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% if request.user.is_authenticate %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">{{ request.user }}</a>
        </li>
        {% endif %}
<ul>
<form method="get">

  {{ filters.form.as_table }}
    <label for="distance">Distance:</label>
    <input type="number" name="distance" id="distance">
  <button type="submit">Применить</button>

</form>
</ul>
      </ul>
    </div>
  </div>
</nav>