{% extends 'base.html' %}


{% block content %}

{{ request.user.profile }}
<!--<form method="get">-->
<!--&lt;!&ndash;  {{ filters.form.as_p }}&ndash;&gt;-->
<!--    <label for="distance">Distance:</label>-->
<!--    <input type="number" name="distance" id="distance">-->
<!--  <button type="submit">Применить</button>-->
<!--</form>-->

<div class="row justify-content-center mt-3">
  {% for profile in filters.qs %}
  <div class="card" style="width: 18rem;">
    <img src="{{ profile.avatar.url }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ profile }}</h5>
      <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="profile_id" value="{{ profile.id }}">
        <button type="submit">Нравится</button>
      </form>
    </div>
  </div>
  {% empty %}
  <p>Нет доступных профилей.</p>
  {% endfor %}
</div>
{% endblock %}